<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <section class="py-3 text-center">
    <h1>Discord Uploader</h1>
  </section>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <form action="/upload" method="post" enctype="multipart/form-data">
              <input type="file" name="photo" id="photo" class="form-control" />
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="py-5 text-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <button class="btn btn-outline-primary w-100" onclick="location.href = '/invoice';">Invoice</button>
        </div>
      </div>
    </div>
  </section>

  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="vendor/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script src="vendor/@lottiefiles/lottie-player/dist/lottie-player.js"></script>
  <script src="assets/js/custom.js"></script>
  <script>
    (() => {
      document.onreadystatechange = () => {
        switch(document.readyState) {
          case 'interactive': {
            console.log('Interactive');
            showAnimation('vendor/lotties/loading.json');
            break;
          }
          case 'complete': {
            console.log('Complete');
            Swal.close();
            break;
          }
        }
      }
    })();
  </script>
</body>
</html>